.form1{
 color: purple;
 font-family: 'Oleo Script Swash Caps', cursive;
}
h2{
    color: cadetblue;
    font-family: cursive;
  text-decoration: underline;
  text-decoration-color: black;
}
.form2{
    font-family: 'Oleo Script Swash Caps', cursive;
    color: darkorchid;
}